.sidebar {
  background-color: $gray-100;
  width: 296px;
  height: 100vh;
}

.line-left-hover {
  position: relative;
  &::before{
    content: "";
    position: absolute;
    left: 0;
    width: 4px;
    height: 32px;
    border-left: 4px solid transparent;
  }
  &:hover {
    color: $primary;
    &::before{
      border-color: $primary;
    }
  }
}

.card-body {
  li + li {
    .card-img {
      padding-top: 1rem;
    }
    .card-border {
      padding-top: 1rem;
      border-top: 1px solid $gray-200;
    }
  }
}

.vertically-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.head-shot {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.logo {
  width: 151px;
  height: 40px;
  background: url('../images/logo-ANSWER.svg') no-repeat center / cover;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
