*,*::before,*::after {
  box-sizing: border-box;
}
ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  // max-width: 100%;
  width: 100%;
  // height: auto;
	display: block;
}

a {
  display: block;
  // transition: .5s;
}

p {
  margin: 0;
  padding: 0;
}

small {
  font-size: 0.75em;
  // line-height: 2;
  color: $gray-300;
}

main {
  width: 100%;
  // min-height: 100vh;
  height: 100%;
}
  
body {
  font-family: 'Lato', 'Roboto Mono', $font-family-sans-serif;
  font-weight: normal;
}

mark {
  font-family: 'Roboto Mono';
  color: $primary;
  background-color: $gray-100;
}
