// font
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Mono&display=swap');

@import "../../../node_modules/bootstrap/scss/functions";
@import "./helpers/variables";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";

// components
@import "./components/card";
@import "./components/list-group";
@import "./components/pagination";
@import "./helpers/ckeditor";

// page & layout
@import "./helpers/base";
@import "./layout/sidebar";
@import './layout/index.scss';

