*,*::before,*::after {
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
	display: block;
}

a {
  display: block;
  transition: .3s;
}
a:hover {
  color: $primary;
}

p {
  margin: 0;
  padding: 0;
}

small {
  font-size: 0.75em;
  color: $gray-300;
}

hr {
  opacity: 1;
}

body {
  font-family: 'Lato', 'Roboto Mono', $font-family-sans-serif;
  font-weight: normal;
}

mark {
  font-family: 'Roboto Mono';
  color: $primary;
  background-color: $gray-100;
}
