// Color system

$gray-100: #F8F9FA;
$gray-200: #CED4DA;
$gray-300: #6C757D;
$gray-400: #212529;

$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
) !default;

// Color system
$primary:#198754;
$danger: #DC3545;
$info:   #ffffff;
$black:  #000000;
$white:  #ffffff; 
$gray:     $gray-300;
$light:    $gray-200 !default;
$dark:     $gray-400 !default;

// Spacing
$spacers: (
  "0":   0,
  "xxs": .25rem,   // 4
  "xs":  .75rem,   // 12
  "s":   .875rem,  // 14
  "m":   1.375rem, // 22
  "ml":  1.25rem,  // 20
  "1":   .5rem,    // 8
  "2":   1rem,     // 16
  "3":   1.5rem,   // 24
  "4":   2rem,     // 32
  "5":   2.5rem,   // 40
  "6":   3rem,     // 48
);

// Font, line-height, and color for body text, headings, and more.
$font-family-lato:                 'Lato', sans-serif;
$font-family-roboto:               'Roboto Mono', monospace;

$font-sizes: (
  "s":   .875rem,   // 14
  "m":   2.5rem,    // 40
  "1":   .75rem,    // 12
  "2":   1rem,      // 16
  "3":   1.25rem,   // 20
  "4":   1.5rem,    // 24
);

$text-muted:                        $gray-300 !default;
// $small-font-size:           .75em !default;

// Body
$body-color:                        $gray-400 !default;

// Links
$link-color:                        $gray-400 !default;
$link-decoration:                   none !default;

// navbar
$navbar-brand-font-size:            1.5rem!default;

// h1~h6
$headings-font-weight:              400 !default;
$headings-margin-bottom:            0!default;
$headings-line-height:              1.5 !default;

// Options
// 刪除 _caret 產生的偽元素（dropdown）
$enable-caret:                      false !default;

// border
$border-color:                      $gray-200 !default;
$border-radius:                  .125rem !default;

// List group
$list-group-border-color:           $gray-200 !default;
$list-group-border-radius:          .125rem !default;
$list-group-item-padding-y:         .75rem !default;
$list-group-item-padding-x:         .75rem !default;
$list-group-active-bg:              $gray-100 !default;
$list-group-active-color:           $gray-200 !default;           
$list-group-active-border-color:    $gray-200 !default;
$list-group-action-active-color:    $gray-200 !default;
$list-group-action-active-bg:       $gray-200 !default;

// Card
$card-cap-padding-y:                .75rem !default;
$card-cap-padding-x:                1rem !default;
$card-cap-bg:                       $gray-100 !default;
$card-border-color:                 $gray-200 !default;
$card-border-radius:                0 !default;


// Button
$btn-padding-y-lg:                  1rem !default;
$btn-padding-x-lg:                  2rem !default;
$btn-border-radius-lg:              .125rem !default;
$btn-font-size-lg:                  1rem !default;
$btn-padding-y:                     .5rem !default;
$btn-padding-x:                     2rem !default;
$btn-border-radius:                 .125rem !default;
$btn-line-height:                   1.5 !default;
$btn-focus-box-shadow:              none !default;
// btn close 
$btn-close-width:                   .825rem !default;
$btn-close-height:                  .825rem !default;
$btn-close-color:                   $danger !default;
$btn-close-opacity:                 .3 !default;
$btn-close-hover-opacity:           1 !default;
$btn-close-focus-opacity:           0 !default;

// Table
$table-cell-padding-y:              1rem !default;
$table-cell-padding-x:              1rem !default;

// Pagination
$pagination-color:                  $primary !default;
$pagination-hover-color:            $white !default;
$pagination-hover-bg:               $primary !default;
$pagination-hover-border-color:     $gray-300 !default;
$pagination-focus-color:            $white !default;
$pagination-focus-bg:               $primary !default;
$pagination-focus-outline:          0 !default;
$pagination-active-border-color:    $gray-300 !default;
// setting pagination transition(form _transition.scss)
$pagination-transition:             .3s !default;
$enable-reduced-motion:             false !default;

// Modals
$modal-inner-padding:               2rem !default;

// Accordion
$accordion-button-active-color:     $dark !default;
$accordion-button-active-bg:        $white !default;
$accordion-border-width:            0 !default;
$accordion-button-focus-box-shadow: none !default;
$accordion-icon-width:              1.125rem !default;
$accordion-icon-color:              $primary !default;
$accordion-icon-active-color:       $primary !default;

// Form
$form-select-line-height:           1 !default;
$form-select-padding-y:             1rem !default;
$form-select-padding-x:             1rem !default;
$form-select-border-width:          1px !default;
$form-select-border-radius:         .125rem !default;

$input-focus-border-color:          $primary !default;

$input-padding-y:                   1rem !default;
$input-padding-x:                   1rem !default;
$input-line-height:                 1 !default;
$input-disabled-bg:                 $gray-100 !default;
$input-border-width:                1px !default;
$input-border-radius:               .125rem !default;
$input-placeholder-color:           $gray-400 !default;

$form-check-input-border:           2px solid $black !default;
$form-check-input-border-radius:    .125rem !default;

// :root：global variable setting
:root {
  // setting CKEditor 5 parm
  --ck-color-base-border: #{$gray-200} !important;
}