// Color system

$gray-100: #F8F9FA;
$gray-200: #CED4DA;
$gray-300: #6C757D;
$gray-400: #212529;

$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
) !default;

// Color system
$primary: #198754;
$danger: #DC3545;
$black: #000000;
$white: #ffffff; 


// Spacing
$spacers: (
  "0":   0,
  "xxs": .25rem,   // 4
  "xs":  .75rem,   // 12
  "s":   .875rem,  // 14
  "m":   1.375rem, // 22
  "ml":  1.25rem,  // 20
  "1":   .5rem,    // 8
  "2":   1rem,     // 16
  "3":   1.5rem,   // 24
  "4":   2rem,     // 32
  "5":   2.5rem,   // 40
  "6":   3rem,     // 48
);

// Font, line-height, and color for body text, headings, and more.
$font-family-lato:      'Lato', sans-serif;
$font-family-roboto:    'Roboto Mono', monospace;

$font-sizes: (
  "s":   .875rem,   // 14
  "m":   2.5rem,    // 40
  "1":   .75rem,    // 12
  "2":   1rem,      // 16
  "3":   1.25rem,   // 20
  "4":   1.5rem,    // 24
);

$text-muted:                $gray-300 !default;
// $small-font-size:           .75em !default;

// Body
$body-color:                $gray-400 !default;

// Links
$link-color:                $gray-400 !default;
$link-decoration:           none !default;

// navbar
$navbar-brand-font-size:    1.5rem!default;
// $navbar-light-toggler-icon-bg: none;

// h1~h6
$headings-font-weight:      400 !default;
$headings-margin-bottom:    0!default;
$headings-line-height:      1.5 !default;

// Options
// 刪除 _caret 產生的偽元素（dropdown）
$enable-caret:                false !default;

// border
$border-color:                $gray-200 !default;
$border-radius-sm:            .125rem !default;

// List group
$list-group-border-color:           $gray-200 !default;
$list-group-border-radius:          .125rem !default;
$list-group-item-padding-y:         .75rem !default;
$list-group-item-padding-x:         .75rem !default;
$list-group-active-bg:              $gray-100 !default;
$list-group-active-color:           $gray-200 !default;           
$list-group-active-border-color:    $gray-200 !default;

// $list-group-hover-bg:               $gray-100 !default;
// // $list-group-active-color:           $component-active-color !default;
$list-group-action-active-color:    $gray-200 !default;
$list-group-action-active-bg:       $gray-200 !default;
// $list-group-active-border-color:    $gray-200 !default

// Card
$card-cap-padding-y:                .75rem !default;
$card-cap-padding-x:                1rem !default;
$card-cap-bg:                       $gray-100 !default;
$card-border-color:                 $gray-200 !default;
$card-border-radius:                .125rem !default;

// button
$btn-padding-y-lg:                  .5rem !default;
$btn-padding-x-lg:                  2rem !default;
// $btn-font-size-lg:                  1.25rem !default;
$btn-border-radius-lg:              .125rem !default;